body{
    display: flex;
    flex-direction: column;
    background-color: teal;
    margin-left: 8.5em;
    margin-right: 8.5em;
    padding-left: 2em;
}

h1{
    align-self: center;
    border: 5px dashed palevioletred;
    color: ghostwhite;
}

h2{
    align-self: center;
    color: ghostwhite;
    font-size: larger;
}

h3{
    font-size: larger;
}

input{
    width: 50%;
    align-self: center;
    background-color: palevioletred;  
}
input, select, textarea{
    color: ghostwhite;
}

input::placeholder{
    color: ghostwhite;
}
#getPoem{
    width: 50%;
    align-self: center;
    background-color: ghostwhite;
}

.speech{
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    justify-content: center;
    background-color: ghostwhite;
}

#poem{
    color: ghostwhite;
    font-size: large;
}

h4{
    display: flex;
    justify-content: center;
}